################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/_Source_NET4/UsefulDB4O_NET4/obj/Debug/UsefulDB4O.csprojAssemblyReference.cache
