<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!--USEFULDB4O-->
    <section name="db4o" type="UsefulDB4O.ApplicationConfig.DB4OConfigSection"/>
    <!--USEFULDB4O-->
  </configSections>
  <!--USEFULDB4O-->
  <db4o>
    <databases>
      <database
        alias="Products"
        serverType="EmbeddedServer"
        openServerRetriesOnLock="10"
        fileDb4oPath="/App_Data/products.db4o"
        openContainerOnBeginRequest="true"
        assemblyWithDatabaseConfig="AdvancedWebApplication"
        staticMethodWithDatabaseConfig="AdvancedWebApplication.Services.DatabasesConfiguration.GetProductsConfiguration"
            />
    </databases>
  </db4o>
  <!--USEFULDB4O-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <!--USEFULDB4O-->
      <add name="DB4OHttpModule" type="UsefulDB4O.Web.DB4OHttpModule, UsefulDB4O"/>
      <!--USEFULDB4O-->
    </httpModules>
  </system.web>
</configuration>